@model EmployeeLogTimeForm.DAL.Data.Model.LogTimeForm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>LogTimeForm</h4>
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label col-xs-2">Project Name</label>
                <select id="project-dd" asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                    <option selected disabled value="0">Select Project</option>
                </select>
            </div>
            <div class="form-group">
                <label  class="control-label col-xs-2">Client Name</label>
                <input id="client-text" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label col-xs-2">Job Name</label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>

            </div>
            <div class="form-group">
                <label asp-for="WorkItem" class="control-label col-xs-2"></label>
                <input asp-for="WorkItem" class="form-control" />
                <span asp-validation-for="WorkItem" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label col-xs-2"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label col-xs-2"></label>
                <textarea typeof="text" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label col-xs-2"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="BillableStatus" class="control-label col-xs-2">Billable Status</label>
                @Html.DropDownListFor(m => m.BillableStatus, new SelectListItem[] {
                    new SelectListItem(){ Text="Billable", Value = "Billable"},
                    new SelectListItem(){ Text="Non Billable", Value = "Non Billable"}
                }, "Select",
                new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        $(document).ready(function () {
            $("#project-dd").on("change", function () {
                $clientTxt = $("#client-text");
                $.ajax({
                    url: "/LogTimeForm/GetClientByProjectId",
                    type: "GET",
                    data: { id: $("#project-dd").val() }, 
                    traditional: true,
                    success: function (result) {
                        $clientTxt.val(result);
                    },
                    error: function () {
                        alert("Something went wrong");
                    }
                });


            });
        });
    </script>
}